body{
	background-image:url(https://www.toptal.com/designers/subtlepatterns/patterns/prism.png) ;
	margin-left:10vw;
	margin-right:10vw%;
	margin-top:30px;
	margin-bottom:30px;
}

img{height:3vh;
  margin-left: 3vh;}

p{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	margin-left:0.7cm;
	margin-right:0.7cm;
}
button{
	background-color: #ffffff; 
	color: black;
	padding: 2vh 2vw;
	font-size: 2vh;
	border-radius: 50vh;
}
#logsSup{
	display: block;
	margin-top:3px;
	background-color: #ffffff;
	border-radius: 3vh;
	width:80vw;
	height:80vh;
}
#logs{
	display: block;
	margin-top:3px;
	background-color: #ffffff;
	border-radius: 3vh;
	width:80vw;
	height:77vh;
	overflow:scroll;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
#logs::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#message-box{
	margin-top:3px;
	background-color: #ffffff;
	border-radius: 5vh;
	width:80vw;
	height:10vh;
	position:fixed;
	bottom:30px;
}
#message{
	border-radius: 1vh;
	float: left;
	width:70vw;
}
#bot{
	background-color: aliceblue;
	border-radius: 1vh;
	float:left;
	width:80%;}
#user{
	float:right;
	width:80%;
	text-align: right;}
::-webkit-scrollbar { 
    display: none; 
}